.comment{
    color:darkgray;
}

.variable{
    color:grey;
}

.function{
    color:orange;
}

.exec{
    color:purple;
}

.string{
    color:lawngreen;
}

.icon{
    height:32px;
}

ul{
    list-style:none;
}

li{
    background-color:#152028;
    width:40px;
    height:40px;
    padding-left:8px;
    padding-top:8px;
}

#menu{
    position:fixed;
}

body{
    background-color:black;
    color:white;
}

article {
    background-color: #0f0f0f;
    padding-left: 12%;
    padding-right: 12%;
    min-height: 500px;
}

h2{
    color:#015377;
    text-align:center;
}

.text{
    width:40%;
    float:left;
}

.code_terminal{
    width:40%;
    float:left;
    margin-left:20%;
}