.comment{
    color:darkgray;
}

.variable{
    color:grey;
}

.function{
    color:orange;
}

.exec{
    color:purple;
}

.string{
    color:lawngreen;
}

.icon{
    height:32px;
}

ul{
    list-style:none;
}

li{
    background-color:#152028;
    width:40px;
    height:40px;
    padding-left:8px;
    padding-top:8px;
}

body{
    background-color:black;
    color:white;
}